@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-[#f4f7f6] text-[#1a1a1a] overflow-x-hidden;
  }
}


.service-card-hover {
  @apply transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl hover:shadow-navy-blue/20;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f4f7f6;
}
::-webkit-scrollbar-thumb {
  background: #da251d;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b71c1c;
}
